.header {
    position: sticky;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    padding-top: 10px;
    background-color: #F4F6FA;
    &-container {
        padding: 14px 16px;
        border: 1px solid #E5E7EB;
        border-radius: 999px;
        height: 76px;
    }
}
.navbar {
    &-item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            font-weight: bold;
        }
    }

}
.login {
    .not-logged {
        .content {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            max-width: 875px;
            width: 100%;
            height: auto;
            background-color: #333;
            z-index: 100;
            border-radius: 20px;
            padding: 64px 120px 40px;
            display: none;
            flex-direction: column;
            align-items: center;
            max-height: calc(100vh - 100px);
            overflow: auto;

            &.active {
                display: flex;
            }

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
                border-radius: 999px;
                display: none;
              }
            &::-webkit-scrollbar-track {
                background: #D9D9D9;
            }

            &::-webkit-scrollbar-thumb {
                background: #D9D9D9;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #D9D9D9;
            }
        }


        .btn-login-group {
            margin-top: 55px;

            .btn {
                max-width: 350px;
                width: 100%;
                margin-bottom: 20px;

            }

            .btn-gg {
                background-color: #FF5858;
            }
            .btn-apple {
                background-color: #000;
            }
        }

        .des {
            color: #aaa;
        }
    }

    .logged {
        &-heading {
            cursor: pointer;
            .icon {
                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 999px;
                }
            }
        }

        &-content {
            background-color: #fff;
            border: 1px solid #DBE0EB;
            right: 0;
            top: 100%;
            min-width: 160px;
            padding: 10px 0;
            margin-top: 12px;
            z-index: 100;
            display: none;
        }

        &-link {
            padding: 10px 20px;
            display: block;
        }

        .log-out {
            padding: 10px 20px;
            display: block;
            &:hover {
                color: #FF5858;
            }
        }
        
    }
}


.sub-menu {

    .icon-bar {
        margin-left: -15px;
    }
    &__content {
        position: fixed;
        left: 0;
        top: 0;
        width: 17.5rem;
        height: 100%;
        background-color: #181716;
        z-index: 100;
        box-shadow: 0px 11px 15px -7px rgba(var(--ipt-baseAlt-rgb), 0.2),
            0px 24px 38px 3px rgba(var(--ipt-baseAlt-rgb), 0.14),
            0px 9px 46px 8px rgba(var(--ipt-baseAlt-rgb), 0.12);
        transform: translateX(-100%);
        transition: all 0.2s ease;
    }

    &__close {
        width: 3rem;
        height: 3rem;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__container {
        height: calc(100% - 100px);
        overflow: auto;
    }
    &__link {
       color: #fff;
        display: flex;
        font-size: 14px;
        padding: 15px;
    }
    &.active &__content {
        transform: translate(0);
    }
    &.active .overlay {
        opacity: 1;
        visibility: visible;
        z-index: 99;
    }
}